*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    min-height: 100vh;
    /* background-color: #f4f4fd; */
}

body {
    font-size: 62.5%;
}

ul, nav {
    list-style: none;
}

a {
    font-size: 0.8rem;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    font-size: 1rem;
}

p{
    font-size: 0.6rem;
}

button {
    border: 0;
    font-size: 0.6rem;
    padding: 0.5rem;
}

header.nav-wrapper {
    width: 100%;
}

.navbar {
    width: 100%; height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    /* border: 1px solid black;  */
}

div.logo {
    /* border: 1px solid black; */
    /* width: 140px; height: 100%; */
}

/* div.logo-img {
    width: 50px;
}
div.logo-txt {
    font-size: 0.8rem;
} */

/* .menu-toggle {
    width: 60px; height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.menu-toggle span {
    width: 50px; height: 8px;
    background-color: blueviolet;
    border-radius: 2px;
} */

.my-account {
    /* justify-self: end; */
    height: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.my-account .img {
    width: 40px; height: 40px;
}

ul.no-search {
    grid-column: span 2;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.3rem;
    /* justify-content: space-evenly; */
}

ul.no-search li {
    margin-left: 30px;
}
ul.no-search li a {
    color: rgb(170, 170, 170);
    font-weight: 500;
}
ul.no-search li a:hover {
    color: black;
}

section, footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.search .pr-heading {
    align-self: flex-start;
}
.search .pr-heading h2 {
    font-size: 0.7rem;
    color: grey;
}

.search .search-between {
    width: 240px; height: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.search .search-between button {
    color: black;
}

.sr-suply-prods {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.sr-buyer-reqs {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search-input {
    width: 300px; height: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    margin-top: 30px;
}

.search-input input {
    border: 1px solid grey;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 0.8rem;
}

.search-input button {
    border-radius: 20px;
}

.search-select {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 30px;
    align-items: center;
    /* border: 1px solid black; */
}

.search-select ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-select ul li {
    /* background-color: rgb(135, 233, 115); */
    background-color:  rgba(56, 56, 241, 0.801);
    color:rgb(255, 255, 255);
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.search-select ul li span {
}

/* ----------------------- */

.profile-container {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 10px;
}

.profile-container .profile-card {
    padding: 12px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: center;
}

.avatar {
    width: 60px;
}

.prod-details,
.profile-nav {
    grid-column: span 2;
}
.profile-nav-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
}
.nav-items {
    text-align: center;
}
.nav-items a img {
    width: 20px;
}

footer {
    background-color: rgba(56, 56, 241, 0.801);
    margin-top: 20px;
}

footer ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

footer ul li a {
    color: rgb(255, 255, 255);
}